<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<section>
    <div class="container mt-6">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Porductos vendidos ultimos dias
                    </div>
                    <div class="card-body">
                        <canvas id="miGraficoSemana">

                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Porductos con mas venta del dia
                    </div>
                    <div class="card-body">
                        <canvas id="miGraficoTopProduct">

                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>