<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
</head>
<body>
<section>
    <div class="container mt-5" style="max-width: 720px">
        <div class="grid grid-cols-5 grid-rows-5 gap-4 p-3">
            <form action="/product/addproduct" method="get">
                <div>
                    <button type="submit" class="btn bg-primary text-white"><i class="fa-solid fa-plus"></i>Agregar
                        Producto
                    </button>
                </div>
            </form>
        </div>
        <div class="table-responsive">
            <div class="card-header text-center fs-4">
                <p class="fs-4">Lista de productos</p>
            </div>
            <table class="table" id="productosbyuser">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Habilitado</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p,c:${products}">
                    <th scope="row">[[${c.count}]]</th>
                    <td>[[${p.code}]]</td>
                    <td>[[${p.name}]]</td>
                    <td>[[${p.productType}]]</td>
                    <td>[[${p.price}]]</td>
                    <td>[[${p.enabled}]]</td>
                    <td><img th:src="@{'/product_img/'+${p.image}}" width="50px" height="50px"></td>
                    <td>
                        <a th:href="@{'/product/editproduct/'+${p.productId}}" class="btn btn-sm btn-secondary">Editar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

</body>
</html>