<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::Layout(~{::section})}">
<head>
    <head>
        <meta charset="UTF-8">
        <title>Insert title here</title>
    </head>
<body>
<section>
    <div class="container mt-5" style="max-width: 720px">
        <br>
        <div class="table-responsive">
            <div class="card-header text-center fs-4">
                <p class="fs-4">Orden</p>
                <th:block th:if="${session.succesMsg}">
                    <p class="text-succes fw-bold">[[${succesMsg}]]</p>
                </th:block>
                <th:block th:if="${session.errorMsg}">
                    <p class="text-danger fw-bold">[[${errorMsg}]]</p>
                </th:block>
            </div>
            <table class="table" id="preorden">
                <thead>
                <tr>
                    <th scope="col">Imagen</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

</body>
</html>