<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::Layout(~{::section})}">
<head>
    <head>
        <meta charset="UTF-8">
        <title>Insert title here</title>
    </head>
<body>
<section>
    <div class="container mt-5" style="max-width: 720px">
        <br>
        <div class="table-responsive">
            <div class="card-header text-center fs-4">
                <p class="fs-4">Seleccione sus productos</p>
            </div>
            <div id="filtertype" class="wrapper">
                <lu id="listtype" class="tabs-box">
                    <li>
                        <a class="tabs btn btn-secondary btn-sm" style="border-radius: 20px" th:href="@{'/venta/'}">Todos</a>
                    </li>
                    <li th:each="type : ${productstype}" th:name="${type.name}">
                        <a class="tabs btn btn-secondary btn-sm" style="border-radius: 20px" th:href="@{'/venta/filterbytype/'+${type.name}}">[[${type.value}]]</a>
                    </li>
                </lu>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p,c:${products}"
                    th:product-id="${p.productId}"
                    th:name="${p.name}"
                    th:price="${p.price}"
                    th:image="${p.image}">
                    <td>[[${p.name}]]</td>
                    <td>Bs[[${p.price}]]</td>
                    <td><img th:src="@{'/product_img/'+${p.image}}" width="50px" height="50px"></td>
                    <td>
                        <button type="button" class="btn btn-danger" onclick="quitarProducto(this)"> -</button>
                        <button type="button" class="btn btn-success" onclick="agregarProducto(this)"> +</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="container-noa">
            <div class="btn-float-noa" id="detailproduct" style="display: none;">
                <a class="btn-noa" id="detailproduct-a" href="/venta/orden">Pagar</a>
            </div>
        </div>
    </div>
</section>

</body>
</html>