@charset "ISO-8859-1";

.card-sh {
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

.cat-div {
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.error {
	color: red;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container-noa .btn-float-noa .btn-noa{
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 2px;
	background-color: #ffc107;
	padding: 10px 20px;
	color: white;
	border-radius: 20px;
	position: fixed;
	bottom: 40px;
}

.wrapper{
	overflow-x: hidden;
}

.wrapper .tabs-box {
	display: flex;
	gap: 12px;
	list-style: none;
	overflow-x: auto;
}

.slider .tabs-box::-webkit-scrollbar{
	display: none;

}


.tabs-box .tbas {
	cursor: pointer;
}


